
/* Estilos CSS para o chat */
.chat-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f9f9f9;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

.chat {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-message {
  justify-content: flex-start;
}

.admin-message {
  justify-content: flex-end;
}

.message-content {
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  max-width: 70%;
  font-size: 14px;
}

.message-content.user-message {
  background-color: #f1f1f1;
}

.message-content.admin-message {
  background-color: #e2f3ff;
}

.message-content p {
  margin: 0;
}

#chat-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat-form input[type="text"],
#chat-form input[type="email"],
#chat-form textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#chat-form textarea {
  height: 80px;
}

#chat-form button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#chat-form button:hover {
  background-color: #262626;
}
